{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-6">
    <form class="well" role="form" action="{{ url_for('edit_profile') }}" method="POST">
        <h2>Edit Profile</h2>
        <label>{{ form.name.label }}</label>
        <input name="name" type="text" class="form-control" value="{{ form.name.data }}" required autofocus>
        <br>
        <label>{{ form.email.label }}</label>
        <input name="email" type="email" class="form-control" value="{{  form.email.data }}" required >
        {{ form.hidden_tag() }}
        <br>
        <button class="btn btn-lg btn-primary" type="submit">Update</button>
    </form>
  </div>
</div>
{% endblock %}

