{% extends "base.html" %}
{% block content %}
<div class="row clearfix">

<div class="row">
  <div class="col-md-8">
      <p><img src="{{ user.getAvatar() }}" width="160" height="160"/></p>
      <h1>{{ user.name }}</h1>
      <br>
      <table class="table table-striped">
        <tr>
          <td><h6>Username:</h6></td>
          <td><span class="glyphicon glyphicon-user"></span> {{ user.username }}</td>
        </tr>
        <tr>
          <td><h6>Email:</h6></td>
          <td><span class="glyphicon glyphicon-envelope"></span> {{ user.email }}</td>
        </tr>
      </table>
      {% if g.user.id == user.id %}
      <a class="btn btn-primary" href="{{ url_for('edit_profile') }}">Edit Profile</a>
      {% endif %}
  </div>
  <div class="col-md-4">
  </div>
</div>
{% endblock %}
